body {
    background-color: #303030;
}

label {
    font: 1rem sans-serif;
    color: white;
}

#update {
    margin: 5px;
}

#color-preview {
    width: 100px;
    height: 100px;
}

.container {
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-radius: 4px;
    border-color: #e7e7ed;
    border-style: solid;
    box-sizing: border-box;
    width: max-content;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 15% 20%;
}
